@model SitefinityWebApp.Mvc.Models.MvcWidgetModel

<h1>    
    <form>
        <div>@Html.Raw(Model.LoginPlaceholder)</div>
        <div>@Html.Raw(Model.UsernamePlaceholder)</div>
        <input type="text" />
        <div>@Html.Raw(Model.PasswordPlaceholder)</div>
        <input type="text" />
        <input type="submit" />
    </form>
</h1>