<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.1.5820.0">
	<Sites>
		<add SiteName="TestFinity" SiteId="ea689a6c-2a7c-4853-9cb4-443a466568b8" />
		<add SiteName="TestFinity_MX" SiteId="d04a95db-8708-6177-8507-ff000056674f" />
		<add SiteName="Testfinity_MX_Child" SiteId="c58095db-8708-6177-8507-ff000056674f" />
		<add SiteName="TestFinity_Nissan" SiteId="868095db-8708-6177-8507-ff000056674f" />
	</Sites>
</analyticsConfig>