<?xml version="1.0" encoding="utf-8"?>
<translationsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.1.5820.0">
	<connectors>
		<add librariesProviderName="sf_translations_lib_provider" exportLibraryId="8f524b3b-c916-4a68-9755-99d0a688ba98" importLibraryId="2387133f-ec96-4e6a-bbfc-ae2d48adb7aa" name="Xliff" />
	</connectors>
</translationsConfig>